asgiref==3.3.1
certifi==2020.11.8
chardet==3.0.4
coverage==5.3
Django==3.1.4
django-redis==4.12.1
h11==0.11.0
httpcore==0.12.2
idna==2.10
python-decouple==3.3
pytz==2020.4
redis==3.5.3
requests==2.25.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
sniffio==1.2.0
sqlparse==0.4.1
urllib3==1.26.2
